@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Italianno&display=swap');

.container_texto_invitacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_logo {
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_logo img {
  border-radius: 100%;
  width: 210px;
}

.nombre {
  position: absolute;
  margin-top: 230px;
}

.nombre h1 {
  font-family: "Inspiration", cursive;
  font-weight: 400;
  font-size: 65px;
  color: #000;
  /* text-shadow: -2px -2px 4px #474955, 2px -2px 4px #474955, -2px 2px 4px #474955,
    2px 2px 4px #474955; */
}

.nombre h1:nth-child(2) {
  margin-left: 70px;
}

.texto_invitacion {
  margin-top: 230px;
}

/* .parrafo {
  width: 400px;
} */

.texto_invitacion p {
  text-align: center;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #000;
  /* text-shadow: -2px -2px 4px #fcb697, 2px -2px 4px #fcb697, -2px 2px 4px #fcb697,
    2px 2px 4px #fcb697; */
  line-height: 1.4;
}

.texto_invitacion p:nth-child(2) {
  font-size: 45px;
}

/* Cursor para el efecto typewriter */
.cursor {
  position: relative;
  width: 340px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  min-height: 120px; /* Para mantener el espacio mientras se escribe */
}

/* Cursor parpadeante */
.blinking-cursor::after {
  content: "|";
  color: rgba(255, 255, 255, 0.75);
  animation: blinkingCursor 1s infinite;
}

@keyframes blinkingCursor {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
